@use 'src/styles/constants/colors';
@use 'src/styles/mixins/animation';

.container {
  .tabListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

    .itemContainer {
      width: 100%;

      .itemTag {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        cursor: pointer;
        border-radius: 20px;
      }

      .selectedItem {
        color: colors.$WHITE;
        text-align: left;
        background-color: colors.$PRIMARY;
        transition: ease-in 250ms background-color, color;

        :root[color-theme='dark'] & {
          color: colors.$BLACK;
          background-color: colors.$PRIMARY_OPACITY;
        }
      }
    }
  }

  .contentsContainer {
    transition: ease-in 250ms background-color, color, text;
  }
}
