@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.container {
  width: 100%;

  .navListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px 70px;

    .navItemContainer {
      .navIconContainer {
        width: 25px;

        svg {
          fill: colors.$GRAY6;
        }
      }

      .title {
        display: none;
        color: colors.$GRAY6;
      }

      &:hover {
        .navIconContainer {
          svg {
            opacity: 0.7;
            fill: colors.$PRIMARY;
          }
        }

        .title {
          color: colors.$BLACK;
          opacity: 0.7;

          :root[color-theme='dark'] & {
            color: colors.$WHITE;
          }
        }
      }

      .selectedNavItem {
        color: colors.$BLACK;

        :root[color-theme='dark'] & {
          color: colors.$WHITE;
        }

        svg {
          fill: colors.$PRIMARY;
        }
      }
    }
  }

  @include responsive.between(SD, QHD) {
    .navListContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 5px 15px;
      border-bottom: 1px solid colors.$GRAY6;

      .navItemContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 5px 0;

        .title {
          display: block;
          margin-left: 10px;
        }
      }
    }
  }
}
